body{
	font-family: 'Montserrat', sans-serif;	
}

*{
  margin: 0;
  padding: 0;
}
.logo-inicio{
	margin: 20px 0 0 75px;
}
.logo-inicio img{
	width: 275px;
	height: 73px;
}
.divisao{
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: #55aba0;
}
.divisao-inicio{
	width: 50%;
	position: absolute;
	background-color: #55aba0;
}
.reta{
	margin-left: -47px;
}
.menu{
	margin-top: 15px;
	
	display: inline;
	float: right;
}
.menu li{
	padding: 0 10px 10px 10px;
	margin: 0 30px 0 30px;
}
.menu ul{
	margin-right: 60px;
	list-style: none;
	position: relative;
	display: inline-block;
}
.menu ul li{
	position: relative;
	display: inline-block;
	float: none;
}
.menu a{
	color: #000000;
	text-decoration: none;
}

.video{
	margin: -400px 0 0 350px;
}
.inicio-desc{
	margin: 150px 0 5px 100px;
	width: 200px;
	font-size: 35px;
	z-index: 9999;
	position: relative;
}
.sombra{
	text-shadow: 0.1em 0.1em 0.2em #262626;
}
.texto{
	margin-left: 100px;
	position: relative;
	width: 275px;
	font-size: 15px;
}
.bt-inicio{
	width: 100px;
	text-align: center;
	list-style: none;
	background: #262626;
	padding: 10px;
	border-radius: 30px;

	
	margin: 20px 0 0 150px;
}
.bt-inicio a{
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
}

.inicio-dois{
	margin: 150px 80px 0 80px;
	text-align: center;
	color: white;
}
.inicio-dois h3{
	font-weight: 200;
	font-size: 50px;
	margin: 80px 0 30px;
}
.inicio-dois p{
	font-weight: 200;
	font-size: 25px;
	margin: 0 0 50px 0
}

.quadro-azul{
	width: 500px;
	height: 275px;
	background-color: #86ceea;
	transform: rotate(3deg);
	box-shadow: 0 0 1em #262626;
}
.quadro-preto{
	width: 500px;
	height: 275px;
	background-color: #262626;
	transform: rotate(-6deg);
}
.quadro-preto img{
	transform: rotate(3deg);
	margin: 90px 70px;
}

.inicio-tres{
	margin: -600px 80px 50px 770px;
	text-align: center;
	width: 500px;
}
.inicio-tres h3{
	font-weight: 200;
	font-size: 50px;
	margin: 80px 0 30px;
}
.inicio-tres p{
	font-weight: 200;
	font-size: 25px;
	margin: 0 0 50px 0
}
.quadro-azul-dois{
	width: 500px;
	height: 275px;
	background-color: #00668c;
	transform: rotate(-6deg);
}
.quadro-preto-dois{
	width: 500px;
	height: 275px;
	background-color: #262626;
	transform: rotate(3deg);
	box-shadow: 0 0 1em #262626;
}
.quadro-azul-dois h6{
	transform: rotate(3deg);
	padding: 95px 30px;
	color: #d4f704;
	font-weight: 500;
	font-size: 75px;
	text-transform: uppercase;
	text-shadow: 0.1em 0.1em 0.2em #262626;
}
/*.feet{
	font-size: 18px;
	font-weight: 500;
	color: #d4f704;
	width: 1349px;
	margin: 5px 0;
	text-align: center;
	display: flex;
	background-color: #fff;
}*/
.footer-contato{
	margin-top: 220px;
}
.footer-login{
	margin-top: 597px;
}
.footer-logon{
	margin-left: -750px;
}
.footer-interno{
	margin-top: 170px;
	margin-left: 273px;
}
.footer-size footer span{
	width: 1093px;
}
.footer-desempenho{
	margin-top: 25px;
	margin-left: -50px;
}
.footer-ajuda{
	margin-top: 25px;
	margin-left: -70px;
}
.footer-materia{
	margin-top: 25px;
	margin-left: -55px;
}
.footer-escolha{
	margin-top: 25px;
	margin-left: -50px;
}
.footer-questionario{
	margin-top: 31px;
	margin-left: -42px;
}
footer span{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	width: 1358px;
	text-align: center;
	display: table;
	background-color: #262626;
	position: absolute;
	padding: 5px 0;
}

/*
.menu a{
	display: block;
}

.menu ul{
	list-style: none;
	position: relative;
	font-size: 20px;
}
.menu ul li{
	float: left;
}
.menu ul ul{
	position: relative;
	visibility: hidden;
	text-align: center;
	align-items: center;
	padding: 0;
}
.menu ul li:hover ul{
	visibility: visible;
}
.menu ul ul li{
	float: none;
	margin: 0;
}
*/

.logo-contato{
	margin: 275px 0 0 150px;
}
.contato{
	float: right;
	position: absolute;
	margin: 80px 0 0 750px;

}
.contato h2{
	margin-bottom: 30px;
	color: #346b60;
	font-size: 30px;
	letter-spacing: 1.5px;
}
.contato label{
	display: block;
	color: #346b60;
	font-size: 16px;
	font-weight: 300;
}
.contato input, .contato textarea{
	display: block;
	margin-bottom: 30px;
	padding: 5px 2%;
	width: 99%;
}

.contato input[type="text"], .contato input[type="email"], .contato textarea{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}

.contato textarea{
	width: 530px;
	height: 30px;
	margin-top: 10px;
}

.contato input[type="submit"]{
	border: none;
	outline: none;
	height: 35px;
	width: 200px;
	margin-left: 175px;
	background: #346b60;
	color: #ffffff;
	border-radius: 20px;
	transition: 0.2s;
}
.contato input[type="submit"]:hover{
	cursor: pointer;
	background: #ffffff;
	border: 1px solid #346b60;
	transition: 0.2s;
	color: #346b60;
}


/*.inverso{
	background-image: url(img/fundo.jpeg);
}
*/
.form-login{
	margin: 80px 0 0 65px;
	position: absolute;
	float: left;
}
.form-login h2{
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 30px;
	letter-spacing: 1.5px;
}
.form-login h3{
	font-weight: 300;
	color: #ffffff;
	font-size: 30px;
	letter-spacing: 1.5px;
	text-align: center;
}
.form-login hr{
	width: 250px;
	margin: 3px 0 75px 140px;
	height: 2px;
	border: 1px solid #346b60;
	background: #346b60;
}
.form-login input[type="email"], .form-login input[type="password"]{
	border: none;
	border-bottom: 1px solid #346b60;
	background: transparent;
	outline: none;
	height: 40px;
	color: #346b60;
	font-size: 16px;
}
.form-login label{
	display: block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	width: 530px;
}
.form-login input{
	display: block;
	margin-bottom: 30px;
	padding: 5px 2%;
	width: 99%;
}
.form-login input[type="submit"]{
	border: none;
	outline: none;
	height: 35px;
	width: 200px;
	margin-left: 175px;
	background: #346b60;
	color: #ffffff;
	border-radius: 20px;
	transition: 0.2s;
}
.form-login input[type="submit"]:hover{
	cursor: pointer;
	background: #ffffff;
	border: 1px solid #346b60;
	transition: 0.2s;
	color: #346b60;
}
.form-login li{
	list-style: none;
}
.form-login li a{
	text-decoration: none;
	margin-left: 195px;
	color: #ffffff;
	font-size: 15px;
}
.form-login li a:hover{
	text-decoration: underline;
}
.menu-login li{
	list-style: none;
}
.menu-login li a{
	text-decoration: none;
	color: #346b60;
	float: right;
	margin: 15px 50px 0 0;
}
.botao-meio{
	float: right;
	margin: 15px 440px 0 0;
	list-style: none;
}
.botao-meio a{
	text-decoration: none;
	color: #ffffff;
	padding: 15px 20px;
	background: #346b60;
}
.logo-branco{
	float: right;
	margin: 275px -530px 0 0;
}
.divisao-branco{
	width: 50%;
	height: 100%;
	position: fixed;
	background-color: #ffffff;
}
.inverso{
	background-color: #55aba0;
}
.logo-cadastro{
	margin: 240px 0 0 150px;
}
.form-cadastro{
	float: right;
	position: absolute;
	margin: 80px 0 0 750px;

}
.form-cadastro h2{
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 30px;
	letter-spacing: 1.5px;
}
.form-cadastro label{
	display: block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
}
.form-cadastro input{
	/*display: block;*/
	margin-bottom: 30px;
	padding: 5px 2%;
	width: 99%;
	width: 510px;
}
.form-cadastro input[type="text"], .form-cadastro input[type="email"], .form-cadastro input[type="password"], .form-cadastro input[type="date"]{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}
.form-cadastro input[type="submit"]{
	border: none;
	outline: none;
	height: 35px;
	width: 200px;
	margin-left: 175px;
	background: #346b60;
	color: #ffffff;
	border-radius: 20px;
	transition: 0.2s;
}
.form-cadastro input[type="submit"]:hover{
	cursor: pointer;
	background: #ffffff;
	border: 1px solid #346b60;
	transition: 0.2s;
	color: #346b60;
}
/*::-webkit-input-placeholder {
   color: white;
}*/
.menu-cadastro li{
	list-style: none;
	margin: 15px 0 0 50px;
}
.menu-cadastro li a{
	text-decoration: none;
	color: #346b60;	
}
.botao-meio-cadastro{
	float: right;
	margin: -17px 0 0 440px;
	list-style: none;
}
.botao-meio-cadastro a{
	text-decoration: none;
	color: #ffffff;
	padding: 15px 20px;
	background: #346b60;
}
.cadastro-efetuado{
	background-color: #9acc93;
	padding: 20px;
	text-align: center;
	width: 500px;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #262626;
	margin: 5px 0 15px;
}
.cadastro-efetuado a{
	color: #000 !important;
}
.erro-cadastro{
	background-color: #f35441;
	padding: 20px;
	text-align: center;
	width: 500px;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #262626;
	margin: 5px 0 15px;
}
.erro-cadastro a{
	color: #000 !important;
}
.erro-login{
	background-color: #f35441;
	padding: 20px;
	text-align: center;
	width: 500px;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #262626;
	margin: -50px 0 15px;
}
.divisao-sobre{
	width: 1920px;
	height: 100%;
	margin: -145px 0 0 -150px;
	position: fixed;
	background-color: #55aba0;
	transform: rotate(14deg);
	overflow: hidden;
}
.division{
	width: 1920px;
	height: 100%;
	margin: -145px 0 0 -150px;
	background-color: #55aba0;
	transform: rotate(14deg);
	overflow: hidden;
	margin-top: 15rem;
}
.logo-sobre img{
	width: 275px;
	height: 73px;
	margin: 20px 0 0 75px;
}
.third-slide{
	background-color: blue;
}
.elementos{
	text-align: center;
	/*transform: rotate(-14deg);*/
	position: relative;
	z-index: 999;
	background-image: url('../img/fundo sobre.png');
}
.descricao h2{
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
}

.descricao p{
	padding: 10px 300px;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 30px;
}
.fotos div{
	display: inline;
	margin: 50px 100px 15px;
}
.pamela figure, .kleber figure, .vanessa figure{
	display: inline-block;
}
.pamela figure figcaption, .kleber figure figcaption, .vanessa figure figcaption{
	font-weight: 500;
	font-size: 16px;
	margin: 20px 0;
}
.pamela img, .kleber img, .vanessa img{
	border-radius: 250px;
	width: 150px;
	height: 150px;
	margin: 50px 0 0 0;
}
.integrantes li{
	display: inline;
	list-style: none;
	font-weight: 500; 
	margin: 0 103px 10px;
	width: 100px;
}
.funcao ul{
	padding: 10px;
	display: inline;
}
.funcao ul ul{
	position: absolute;
	text-align: center;
	float: left;
}
.funcao li{
	display: inline;
	list-style: none;
	margin: 10px 110px 0;
	
}


.media{
	display: flex;
	width: 100px;
}


/*novo sobre teste*/
.sobre-site{
	width: 500px;
	
	float: right;
	
	margin: 0 100px 0 300px;	
}
.sobre-site img{
	transform: scale(0.1, 0.1);
}
.sobre-site ul{
	flex-direction: column;
	width: 400px;
	text-decoration: none;
	list-style: none;
}


/*qualquer coisa apaga daqui pra baixo

.sobre-site{
	float: right;
	
	margin-left: 550px;
	line-height: 25px;
}
.sobre-site img{
	transform: scale(0.1,0.1);
	margin: -100px 0 0 0;
}
.sobre-site h6{
	font-size: 18px;
	font-weight: 500;
	margin: 80px 0 0 0;
	width: 400px;
}
.sobre-site p{
	margin: 20px 0 0 0;
	width: 500px;
}
.topico{
	display: flex;
	
}
*/
/*.topico:first-child{
	margin-top: -30px;
}
.topico:last-child{
	margin: 0 0 -30px -120px;
}*/

/*qualquer coisa apaga daqui pra cima*/


.divisao-menu{
	background-color: #55aba0;
	width: 20%;
	height: 100%;
	position: fixed;
	text-align: center;
	z-index: 9999;
}
.divisao-menu img{
	transform: scale(0.8, 0.8);
	margin: -10px 0 0 -10px;
}
.menu-interno a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	font-weight: 200;
	display: block;
}
.menu-interno li{
	margin: 10px 0;
	padding: 10px 0;
}
.menu-interno ul ul{
  position: absolute;
  visibility: hidden;
  text-align: center;
}
.menu-interno ul li:hover ul, .atual-interno ul li ul{
  visibility: visible;
  position: relative;
}
.pagina-atual-verde{
	background-color: #80c0b8;
	padding: 10px 0;
}
.pagina-atual-laranja{
	background-color: #fbc194;
	padding: 10px 0;
}
.pagina-atual-rosa{
	background-color: #eec8cf;
	padding: 10px 0;
}
.pagina-atual-vermelho{
	background-color: #f3ada2;
	padding: 10px 0;
}

.divisao-superior{
	background-color: #55aba0;
	position: absolute;
	width: 100%;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 0 1em #55aba0; 
}
.divisao-superior a{
	text-decoration: none;
	color: #fff;
	cursor: default;
}
.divisao-superior img{
	transform: scale(0.1, 0.1);
	margin: -90px 0 -90px 200px;
	border-radius: 150px;
}
.divisao-superior p{
	color: white;
	margin: -32px 0 10px 340px;
	font-size: 14px;
}
.divisao-superior div img{
	transform: scale(0.5, 0.5);
	border-radius: 0;
	margin:  625px;
	margin-left: 675px;
}
#escrita{
	margin-top: -53px;
}

#opcaoPerfil{
	display: none;
}
#opcaoPerfil{
	position: absolute;
	margin: 50px 0 0 300px;
	z-index: 999;
	padding: 10px;
	width: 150px;
	background-color: #262626;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
#opcaoPerfil li{
	list-style: none;
	padding: 1.5px 0;
}
#opcaoPerfil li:hover{
	background-color: #4e4e4e;
}
#opcaoPerfil li a{
	text-decoration: none;
	line-height: 1.1;
	color: #f5f5f5;
	font-weight: 300;
	font-size: 14px;
}
/*estilo caixa de pesquisa*/
.pesquisa{
	margin: -680px 20px 0 0;
	float: right;
}
#pesquisa-materias{
	display: none;
}
.pesquisa-materias{
	position: absolute;
	margin: 50px 0 0 1100px;
	z-index: 999;
	padding: 10px;
	width: 200px;
	background-color: #262626;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.pesquisa-materias li{
	list-style: none;
	padding: 1.5px 0;
}
.pesquisa-materias li:hover{
	background-color: #4e4e4e;
}
.pesquisa-materias li a{
	text-decoration: none;
	line-height: 1.1;
	color: #f5f5f5;
	font-weight: 300;
	font-size: 14px;
}
*/

.container {
  width: 100%;
  position: relative;
  height: 35px;
  /* só por um tempo | margin: 0 0 30px 10px; */
}
.pesquisa input{
	height: 35px;
	border: none;
	outline: none;
	padding-left: 20px;
	padding-right: 50px;
	width: 0;
	top: 0;
	left: 0;
	background: none;
	z-index: 3;
	transition: width 1s ease-out;
	cursor: pointer;
  	border-radius: 25px;
 	position: relative;
 	margin: 0 0 0 1200px;
}

/*.pesquisa input {
  height: 35px;
  border: none;
  outline: none;
  padding-left: 50px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 3;
  transition: width 1s ease-out;
  cursor: pointer;
} */
.pesquisa input:focus { 
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 200px;
  z-index: 1;
  transition: width 1s ease-in;
  
  /*position: relative;*/
}
/*.container input{
	-moz-transform: scale(-1,1);
	-webkit-transform: scale(-1,1);
}*/

.pesquisa button { 
  height: 35px;
  width: 50px;
  background:  url('../img/lupa.png')  center no-repeat;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  transform: rotate(-90deg) scale(2, 2);
  color: white;
  margin: 7px 0 0 1275px;
}
.pesquisa button:focus {
  outline: none;
}
/* esconde o LABEL "Buscar" */
.pesquisa label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;	
}
*/


/*ovoshora*/
/*.pesquisa input{
	background: url(../img/lupa.png) no-repeat center right;
	padding: 5px;
	border: none;
	width: 20px;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.pesquisa input:focus{
	width: 200px;
	border: 1px solid black;
	outline: none;
}
*/


.testedocaramba{
	margin: -300px 600px 50px;
}

.caixa{
	width: 900px;
	height: 100px;
	margin: 85px 0 0 315px;
	padding: 35px 50px 50px 50px;
	position: absolute;
	background-color: #9acc93;
	color: #fff;
	font-size: 26px;
	border-radius: 30px;
	line-height: 40px;
	overflow: hidden;
}
.caixa img{
	transform: scale(-0.5, 0.5);
	margin: -330px 0 0 500px;
}
.caixa h3{
	color: #346b60;
	font-size: 32px;
	font-weight: 500;
}

.topicos-inicio{
	display: flex;
	width: 900px;
	text-align: center;
	margin: 150px 0 0 315px;
	position: absolute;
}
.topicos-inicio a{
	text-decoration: none;
	color: #000;
}
.topicos-inicio img{
	transform: scale(0.1,0.1);
	margin: 0 0 -150px -67px;
}
.topicos-inicio div{
	width: 300px;
	padding: 10px;
	margin: 5px;
}
.topicos-inicio div:first-child{
	margin-left: 10px;
}
.topicos-inicio figcaption{
	width: 275px;
	font-size: 20px;
	font-weight: 500px;
	letter-spacing: 1px;
	line-height: 25px;
	margin-top: 10px;
}
.pamela figure, .kleber figure, .vanessa figure{
	display: inline-block;
}
.pamela figure figcaption, .kleber figure figcaption, .vanessa figure figcaption{
	font-weight: 500;
	font-size: 16px;
	margin: 20px 0;
}

.divisao-menu-materia{
	height: 700px;
}
.divisao-menu-biologia, .divisao-superior-biologia{
	background-color: #f89447;
}
.materia{
	display: flex;
	margin: 50px 0 0 300px;
	position: absolute;
	width: 1000px;
	height: 500px;
	padding: 25px;
	text-align: center;
}
/*.materia-apoio{
	display: flex;
	margin: 50px 0 0 300px;
	width: 1000px;
	height: 500px;
	padding: 25px;
	text-align: center;
}*/
/*.apoio{
	position: absolute;
}*/
#biologia{
	overflow-x: hidden;
}
/*.biologia div{
	width: 1000px;
}*/
.materia div div{
	display: flex;
}
.bola{
	width: 125px;
	height: 125px;
	border-radius: 200px;
	z-index: 1;
	margin: 20px 50px;
}
.bola-biologia{
	background-color: #f89447;
}
.capsula{
	width: 160px;
	height: 50px;
	padding: 5px;
	border-radius: 100px;
	box-shadow: 0 0 1em #262626;
	z-index: 2;
	margin: 30px 0 30px -20px;
	position: absolute;	
	display: table;
}
.capsula-biologia{
	background-color: #f89447;
}
.capsula a{
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.materia1 a{
	margin-top: 5%;
}
.capsula a:first-child{
	width: 160px;
	height: 50px;
}
#alinhar{
	margin-top: 10%;
}
.pirulito div{
	margin-right: 200px;
}
.titulo-materia h2{
	text-transform: uppercase;
	font-weight: 400;
	margin-left: -140px;
}
.materia2{
	position: absolute;
	margin: 200px 0 0 0;
}
.materia3{
	position: absolute;
	margin: 400px 0 0 0;
}
.materia4{
	position: absolute;
	margin: 600px 0 0 0;
}
.materia5{
	position: absolute;
	margin: 800px 0 0 0;
}
.materia6{
	position: absolute;
	margin: 1000px 0 0 0;
}
.materia7{
	position: absolute;
	margin: 1200px 0 0 0;
}
.materia8{
	position: absolute;
	margin: 1400px 0 0 0;
}
.materia9{
	position: absolute;
	margin: 1600px 0 0 0;
}
.materia3 h2{
	margin-left: 420px;
}

.divisao-menu-fisica, .divisao-superior-fisica{
	background-color: #d98594;
}
.bola-fisica{
	background-color: #d98594;
}
.capsula-fisica{
	background-color: #d98594;
}
.alinhar-fisica h2{
	margin-left: 440px;
}

.divisao-menu-quimica, .divisao-superior-quimica{
	background-color: #ea6d5a;
}
.bola-quimica{
	background-color: #ea6d5a;
}
.capsula-quimica{
	background-color: #ea6d5a;
}
.alinhar-quimica h2{
	margin-left: 425px;
}

.bola-geral{
	background-color: #55aba0;
}
.capsula-geral{
	background-color: #55aba0;
}

.formulario{
	width: 1000px;
	margin: 100px 0 0 300px;
	position: absolute;
}
.questoes{
display: none;
}
#questao1{
	height: auto;
	width: auto;
	background-color: #f2f2f2;
}
.formulario p{
	background-color: #f2f2f2;
}

.custom-box{
	
}
.option-container{
	margin: 15px 0;
	width: 900px;
}
.option-container label {
 	background: #f2f2f2 no-repeat center center;
 	bottom: 1px;
 	cursor: pointer;
 	width: 900px;
 	padding: 10px;
 	display: flex;
 	margin-top: 10px;
 	font-size: 16px;
 	border-radius: 5px;
}
.option-container input[type="radio"]:checked + label {
  outline: 2px dotted #21b4d0;
}
.option-container input[type="radio"]{
	font-size: 0;
	color: white;
	display: none;
}
.lacuna label{
	display: inline;
	margin-bottom: 50px;
}
.lacuna input[type="text"]{
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	padding: 2px;
	height: 25px;
	width: 730px;
}
.quiz-box .question-box{
	display: flex;
}
.quiz-box .question-number{
	margin: 10px 10px 10px 50px;
	background-color: #f89447;
	padding: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	position: relative;
	color: white;
	text-align: center;
}
.quiz-box .question-number-fis{
	margin: 10px 10px 10px 50px;
	background-color: #d98594;
	padding: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	position: relative;
	color: white;
	text-align: center;
}
.quiz-box .question-number-qui{
	margin: 10px 10px 10px 50px;
	background-color: #ea6d5a;
	padding: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	position: relative;
	color: white;
	text-align: center;
}
.quiz-box .question-text{
	position: relative;
	/*display: flex;*/
	background-color: #262626;
	color: #ffffff;
	padding: 20px;
	border-radius: 15px;
	width: 1000px;
	text-align: left;
}
#margin{
	margin-top: 15px;
}
.quiz-box .question-text img{
	text-align: center;
}
.quiz-box .option-container{
	text-align: justify;
	margin-left: 85px;
}
.quiz-box .option-container .option{
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	margin: 10px;
	cursor: pointer;
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
}
.quiz-box .option-container .option.already-answered{
	pointer-events: none;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.quiz-box .option-container .option.correct::before{
	content: '';
	position: absolute;
	border: 1px solid green;
	border-radius: 15px;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	animation: slideInLeft .5s ease forwards;
	z-index: -1;
}
.quiz-box .option-container .option.correct{
	color: green;
}
.quiz-box .option-container .option.wrong::before{
	content: '';
	position: absolute;
	border: 1px solid red;
	border-radius: 15px;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	animation: slideInLeft .5s ease forwards;
	z-index: -1;
}
.quiz-box .option-container .option.wrong{
	color: red;
}
/*.quiz-box .option-container .option.correct{
	content: '';
	border: 1px solid green;
	border-radius: 15px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: green;
	animation: slideInLeft .5s ease forwards;
}*/
@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}
.btn-box{
	margin-top: 35px;
	text-align: center;
}
.btn-box div, .option-container input[type="submit"]{
	display: inline;
	margin: 25px 50px;
}
.quiz-box .btn-bio, .option-container input[type="submit"]{
	background-color: #f89447;
	color: #fff;
	padding: 10px 15px;
	border-radius: 10px;
	border: none;
}
.quiz-box .btn-fis, .option-container-fis input[type="submit"]{
	background-color: #d98594;
	color: #fff;
	padding: 10px 15px;
	border-radius: 10px;
	border: none;
}
.quiz-box .btn-qui, .option-container-qui input[type="submit"]{
	background-color: #ea6d5a;
	color: #fff;
	padding: 10px 15px;
	border-radius: 10px;
	border: none;
}
.answers-indicator{
	margin: 15px 0;
}
.quiz-box .answers-indicator div{
	height: 10px;
	width: 10px;
	display: inline-block;
	background-color: #cccccc;
	border-radius: 50%;
	margin: 10px;
}
.quiz-box .answers-indicator div.atual{
	height: 13px;
	width: 13px;
}

.quiz-box .answers-indicator div.correct{
	background-color: green;
}
.quiz-box .answers-indicator div.wrong{
	background-color: red;
}

.logo-sobre img{
	width: 275px;
	height: 73px;
	margin-bottom: 1rem;
}
.escolha {
    margin: 50px 0 0 290px;
    position: absolute;
    width: 1000px;
    height: 500px;
    padding: 25px;
}
.escolha hr{
	width: 0.1px;
	height: 415px;
	border: 1px solid #f89447;
	margin-top: 50px;
}
.escolha h2{
	color: #f89447;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}
.escolha-fis hr{
	width: 0.1px;
	height: 415px;
	border: 1px solid #d98594;
	margin-top: 50px;
}
.escolha-fis h2{
	color: #d98594;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}
.escolha-qui hr{
	width: 0.1px;
	height: 415px;
	border: 1px solid #ea6d5a;
	margin-top: 50px;
}
.escolha-qui h2{
	color: #ea6d5a;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}
.marcador{
	width: 25px;
	height: 25px;
	border-radius: 100px;
	background-color: #f89447;
	position: absolute;
	margin-left: 458px;
	margin-top: 40px;
}
.marcador2{
	margin-top: 190px;
}
.marcador3{
	margin-top: 345px;
}
.marcador-fis{
	background-color: #d98594;
}
.marcador-qui{
	background-color: #ea6d5a;
}
.relembre{
	display: flex;
	margin: 15px;
}
.lado{
	padding: 10px;
	width: 400px;
	margin: 25px;
}
.alinhamento{
	margin-top: 150px;
}
.lado div div{
	margin: 15px;
}
.lado div{
	width: 300px;
}
.lado h4{
	font-weight: 500;
	font-size: 22px;
	color: #f89447;
	padding: 3px;
}
.lado h6{
	font-size: 15px;
	padding: 3px;

}
.lado p{
	padding: 3px;
	line-height: 1.2;
}
.lado a{
	background-color: #f89447;
	padding: 7px 10px;
	border-radius: 100px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.lado1{
	text-align: right;
}
.lado1 div{
	float: right;
}
.lado2{
	text-align: left;
}
.lado2 a{
	margin-top: -50px;
	margin-left: -15px;
	position: absolute;
}
.lado-fis h4{
	font-weight: 500;
	font-size: 22px;
	color: #d98594;
	padding: 3px;
}
.lado-fis a{
	background-color: #d98594;
	padding: 7px 10px;
	border-radius: 100px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.lado-qui h4{
	font-weight: 500;
	font-size: 22px;
	color: #ea6d5a;
	padding: 3px;
}
.lado-qui a{
	background-color: #ea6d5a;
	padding: 7px 10px;
	border-radius: 100px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
}
.conteudo h2{
	color: #262626;
	font-size: 28px;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #f89447;
	padding: 5px;
	text-underline-position: under;
}
.conteudo-fis h2{
	color: #262626;
	font-size: 28px;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #d98594;
	padding: 5px;
	text-underline-position: under;
}
.conteudo-qui h2{
	color: #262626;
	font-size: 28px;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #ea6d5a;
	padding: 5px;
	text-underline-position: under;
}
.conteudo h3{
	color: #262626;
	font-weight: 400;
	text-align: center;
	padding: 5px;
}
.conteudo{
	text-align: center;
}
.opcoes{
	margin: 15px;
	margin-top: 0;
	padding: 25px 100px;
}
.opcoes li{
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0 0 15px;
	position: relative;
}
.btn-opcoes{
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
	color: #262626;
	font-size: 18px;
	text-align: center;
}
.opcoes li:first-child{
	margin-right: 350px;
}
.opcoes li:last-child{
	margin-left: 100px;
}
.opcoes hr{
	width: 300px;
	height: 1px;
	margin: 15px 0 15px;
	text-align: center;
}
.material-texto{
	border: 2px solid #f1f1f1;
	padding: 15px;
	text-align: justify;
	margin-top: 15px;
	border-radius: 10px;
	height: 340px;
	width: 690px;
	overflow: auto;
	margin-right: 275px;
	margin-left: 25px;
}
.material-texto p{
	line-height: 1.5;
}
.material-video{
	margin-left: 105px;
	border: 2px solid #f1f1f1;
	padding: 15px;
	text-align: center;
	margin-top: 15px;
	border-radius: 10px;
	height: 340px;
	width: 690px;
	overflow: auto;
	margin-right: 275px;
}
.material-video iframe{
	margin: 5px;
}
.bt-bio{
	background-color: #f89447;
	line-height: 1.5;
	text-decoration: none;
	border-radius: 15px;
	color: #fff;
	width: 200px;
	height: auto;
	margin: auto;
	margin-top: 15px;
	padding: 5px;
	text-align: center;
}
.bt-bio a{
	text-decoration: none;
	color: #fff;
}
.bt-fis{
	background-color: #d98594;
	line-height: 1.5;
	text-decoration: none;
	border-radius: 15px;
	color: #fff;
	width: 200px;
	height: auto;
	margin: auto;
	margin-top: 15px;
	padding: 5px;
	text-align: center;
}
.bt-fis a{
	text-decoration: none;
	color: #fff;
}
.bt-qui{
	background-color: #ea6d5a;
	line-height: 1.5;
	text-decoration: none;
	border-radius: 15px;
	color: #fff;
	width: 200px;
	height: auto;
	margin: auto;
	margin-top: 15px;
	padding: 5px;
	text-align: center;
}
.bt-qui a{
	text-decoration: none;
	color: #fff;
}
.wrapper {
  overflow-x: scroll;
  /*direction: rtl;*/
  transform: rotate(180deg);
  transform: rotateX(180deg);
}
.wrapper-child{
  width: 221%;
}
.wrapper-child > .tab {
  float: left;
  width: 50%;
  transform: rotate(180deg);
  transform: rotateX(180deg);
}
::-webkit-scrollbar:horizontal {
    /*background: #5B0B2B;*/
    height: 8px;
    border-radius: 5px;
}
::-webkit-scrollbar-track:horizontal {
    /*background: #5B0B2B;*/
    border-radius: 5px;
    border: 2px solid white;
}
::-webkit-scrollbar-thumb:horizontal {
    background: #f89447;
    height: 8px;
}
.conteudo-fis ::-webkit-scrollbar-thumb:horizontal {
    background: #d98594;
    height: 8px;
}
.conteudo-qui ::-webkit-scrollbar-thumb:horizontal {
    background: #ea6d5a;
    height: 8px;
}

/*Login interativo*/
.login {
 /*   display: flex;
    justify-content: center;
    align-items: center;*/
    height: 100vh;
    /*background-color: #ecf0f1;*/
}
.login {
    background-color: #55aba0;
/*    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;*/
    align-items: center;
    position: relative;
    /*display: flex;*/
}
.login::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 50%;
    height: 100%;
/*    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;*/
}
/*.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}*/
/*.title-primary {
    color: #fff;
}
.title-second {
    color: #55aba0;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}*/
.botao {
    /*border-radius: 15px;
    text-transform: uppercase;*/
    color: #fff;
    /*font-size: 10px;*/
    padding: 10px 50px;
    cursor: pointer;
    /*font-weight: bold;*/
    width: 150px;
    /*align-self: center;*/
    border: none;
    /*margin-top: 1rem;*/
    background-color: #346b60;
}
.btn-primary {
    /*background-color: transparent;*/
    transition: background-color .5s;
    float: right;
}
.btn-primary:hover {
    background-color: #fff;
    color: #55aba0;
}
.btn-second {
    background-color: #55aba0;
    border: 1px solid #55aba0;
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #55aba0;
    color: #55aba0;
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    /*text-align: center;*/
    width: 50%;
    z-index: 10;
    /*display: flex;*/
}
.second-column {
    width: 50%;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
}
/*.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color: #55aba0;
    color: #fff;
    border-color: #55aba0;
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}*/
/*.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}*/

/* second content*/

.second-content {
    /*position: absolute;*/
    position: absolute;
    /*display: flex;*/
    display: inline;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
/*.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}*/
.sign-in-js .first-content .first-column {
    z-index: -1;
}
.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}
.sign-in-js .content::before {
    left: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
    z-index: 12;
}
.sign-up-js .content::before {
    animation: slideout 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}
.sign-up-js .first-content .second-column {
    z-index: 11;
}
.sign-up-js .first-content .first-column {
    z-index: 13;    
}
/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}
.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25% {
        left: -80px;
        opacity: .5;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }
    50% {
        left: -100px;
        opacity: .2;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoDir {
    from {
        left: 0;
        z-index: 12;
    }
    25% {
        left: 80px;
        /* z-index: 12;  NÃO HÁ NECESSIDADE*/
    }
    50% {
        left: 100px;
        /* z-index: 12; NÃO HÁ NECESSIDADE*/
        /* background-color: yellow;  Exemplo que dei no vídeo*/
    }
    to {
        left: 110px;
        z-index: -1;
    }
}

/*ANIMAÇÃO CSS*/

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }
    25% {
        left: 5%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}
@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 45%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 50%;
    }
    to {
        left: 0;
        width: 40%;
    }
}
/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }
    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content, .second-content {
        flex-direction: column;
        justify-content: space-around;
    }
    .first-column, .second-column {
        width: 100%;
    }
    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;

    }
    .form {
        width: 90%;
    }
    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {
        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
        25% {
            top: -80px;
            opacity: .5;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
        50% {
            top: -100px;
            opacity: .2;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    @keyframes deslocamentoDir {
        from {
            top: 0;
            z-index: 12;
        }
        25% {
            top: 80px;
            /* z-index: 12;  NÃO HÁ NECESSIDADE*/
        }
        50% {
            top: 100px;
            /* z-index: 12; NÃO HÁ NECESSIDADE*/
            /* background-color: yellow;  Exemplo que dei no vídeo*/
        }
        to {
            top: 110px;
            z-index: -1;
        }
    }
    @keyframes slidein {
        from {
            top: 0;
            height: 40%;
        }
        25% {
            top: 5%;
            height: 50%;
        }
        50% {
            top: 25%;
            height: 60%;
        }
        75% {
            top: 45%;
            height: 50%;
        }
        to {
            top: 60%;
            height: 40%;
        }
    }
    @keyframes slideout {
        from {
            top: 60%;
            height: 40%;
        }
        25% {
            top: 45%;
            height: 50%;
        } 
        50% {
            top: 25%;
            height: 60%;
        } 
        75% {
            top: 5%;
            height: 50%;
        }
        to {
            top: 0;
            height: 40%;
        }
    } 
}
@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}
@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}
/*final animação login*/
/*desempenho*/
.graphics {
    margin: 50px 0 0 290px;
    position: absolute;
    width: 1000px;
    height: 500px;
    padding: 25px;
    text-align: center;
}
.graphic-general {
	width: 900px;
	height: 350px;
	margin: 15px;
	margin: 0 auto;
}
.graphic-individual {
	width: 400px;
	height: 200px;
}
.individual{
	display: flex;
}
.graphics h3, h4{
	color: #346b60;
}
.graphics h3{
	font-size: 28px;
}
.graphics h4{
	font-size: 24px;
	margin: 10px 0 15px 0;
}
.graphics legend{
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1.2px;
	color: #346b60;
	margin: auto;
	padding: 10px 0;
}
.graphic-individual{
	text-align: center;
}
.menu-auto{
	height: 125%;
}
/*final desempenho*/

#mais1, #mais2, #mais3, #mais4, #mais5{
	display: none;
}
#btnLeiaMais1, #btnLeiaMais2, #btnLeiaMais3, #btnLeiaMais4, #btnLeiaMais5{
	text-decoration: underline;
}
.ajuda{
	width: 1000px;
	margin: 75px 0 0 315px;
	position: absolute;
	text-align: center;
}
.ajuda h2{
	font-weight: 300;
	font-size: 35px;
	color: #346b60;
}
.ajuda h4{
	height: 50px;
	width: 50px;
	border: 2px solid #346b60;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: #346b60;
	font-size: 20px;
	font-weight: 500;
}
/*.numero {
	display: table;
}*/
.duvidas{
	/*display: flex;*/
	margin: 25px 0 0 20px;
	position: absolute;
}
.duvida{
	width: 900px;
	margin: 0 0 0 25px;
	text-align: left;
	line-height: 20px;
}
.duvida h3{
	font-weight: 500;
	line-height: 25px;
}
.bloco-duvida{
	display: flex;
	margin: 5px 5px 15px;
}
.menu-ajuda{
	display: flex;
	height: 100vh;
	position: fixed;
	width: 20%;
	background: #55aba0;
}

.select{
	background-color: #f2f2f2;
}
.selecionado{
	background-color: #c2c2c2;
}
#correct{
	background-color: green;
}

.perfil h2{
	color: #262626;
	font-size: 28px;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #346b60;
	padding: 5px;
	text-underline-position: under;
}
.infos{
	display: inline;
}
/*.form-perfil{
	float: right;
	position: absolute;
	margin: 80px 0 0 750px;
}*/
.perfil1{
	text-align: right;
}
.form-perfil{
	width: 500px;
	position: absolute;
}
.form-perfil h3{
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	padding: 10px;
	background-color: #346b60;
	margin: 25px auto;
	border-radius: 5px;
}
.form-perfil div{
	margin-top: 15px;
}
.form-perfil p{
	margin: 25px 0;
}
.form-perfil label{
	color: #262626;
	font-size: 18px;
	font-weight: 400;
	padding: 10px;
}
.form-perfil input{
	padding: 5px 2%;
	width: 53%;
	padding: 10px;
	border: 0.5px solid #346b60;
	border-radius: 3px;

}
.perfil2{
	margin-left: 500px;
	text-align: center;
}
.perfil2 h3{
	font-weight: 500;
	font-size: 20px;
	color: #346b60;
	padding: 10px;
	background-color: transparent;
	margin: 25px auto;
	border-radius: 5px;
}

.atual-externo{
	border-bottom: 3px solid #474747;
	border-radius: 3px;
}
.politicas-de-privacidade{
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
	display: none;
	opacity: 0;
}
.politicas-de-privacidade:target{
	opacity: 1;
	visibility: visible;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(10,10,10,.7);
	position: fixed;
	z-index: 999;
	padding: 50px;
	display: block;
}
.politicas{
	background-color: #fff;
	margin-left: 100px;
	padding: 30px;
	width: 1000px;
	height: 500px;
	border-radius: 15px;
	overflow: auto;
	position: absolute;
}
.politicas div{
	padding: 10px;
}
.politicas div h4{
	padding: 10px 0;
}
.form-cadastro input[type="checkbox"]{
	background-color: transparent;
	border-color: #346b60;
	width: auto;
}
.form-cadastro div a{
	color: #fff;
}
.form-cadastro div label{
	float: right;
	margin-left: -10px;
}
.btn-close{
	color: #346b60 !important;
	font-weight: 300;
	text-decoration: none;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}
#close{
	top: 0;
	right: 2%;
}

/*paginação*/
.whole-question{
	display: none;
}
.active{
	display: block;
}
